{% extends 'bank_base_dashboard.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

<!-- Navigation Bar with Welcome Message -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <h2 class="navbar-brand">PESA MASHINANI</h2>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <span class="nav-link">Welcome, {{ bank_name }}!</span>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Main Dashboard Content -->
<div class="container-fluid">
    <div class="row g-3 mt-4">
        <div class="col-lg-4 col-md-6">
            <div class="card shadow-sm border-0">
                <div class="card-header bg-primary text-white">
                    <h3>Account Balance</h3>
                </div>
                <div class="card-body">
                    <h4 class="text-center">Ksh. {{ account_bal }}</h4>
                </div>
            </div>
        </div>


        <div class="col-lg-4 col-md-6">
            <div class="card shadow-sm border-0">
                <div class="card-header bg-primary text-white">
                    <h3>Total Loan</h3>
                </div>
                <div class="card-body">
                    <h4 class="text-center">Ksh. {{ total_loan }}</h4>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card shadow-sm border-0">
                <div class="card-header bg-info text-white">
                    <h3> Groups</h3>
                </div>
                <div class="card-body">
                    {% if groups %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Number</th>
                                    <th scope="col">Group</th>
                                    <th scope="col">Group Phone Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for group in groups %}
                                    <tr>
                                        <td>{{ group.group_no }}</td>
                                        <td>{{ group.group_name }}</td>
                                        <td>{{ group.phone_number }}</td>
                                        <!--<td>{{ group.guarantor }}</td>-->
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p class="text-muted text-center">No loanees available.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card shadow-sm border-0">
                <div class="card-header bg-danger text-white">
                    <h3>Loan Defaulters</h3>
                </div>
                <div class="card-body">
                    {% if defaulters %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Defaulter Id</th>
                                    <th scope="col">Bank Number</th>
                                    <th scope="col">Amount Owed</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for defaulter in defaulters %}
                                    <tr>
                                        <td>{{ defaulter.national_id_no }}</td>
                                        <td>{{ defaulter.bank_no }}</td>
                                        <td>{{ defaulter.amount_owed }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p class="text-muted text-center">No defaulters available.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
