{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Pesa Mashinani</title>

  <!-- Favicons -->
  <link rel="icon" href="{% static 'img/connect.ico' %}" type="image/x-icon">

  <!-- Vendor CSS Files -->
  <!--<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/main.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">-->
  <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">

  <!-- Main CSS File -->
  <link rel="stylesheet" href="{% static 'css/global/main.css' %}">

</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid position-relative d-flex align-items-center justify-content-between">

      <a href="{% url 'home' %}" class="logo d-flex align-items-center me-auto me-xl-0">
        <img src="{% static 'img/connect.png' %}" alt="Mashinani">
        <h1 class="sitename">Pesa Mashinani</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="#services">Services</a></li>
           <li class="dropdown"><a href="#"><span>Portals</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="{% url 'bank-login' %}">Bank</a></li>
              <li><a href="{% url 'group-login' %}">Group</a></li>
              <li><a href="{% url 'member-login' %}">Member</a></li>
              <li class="dropdown"><a href="#"><span>Important Links</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#services">Services</a></li>
                  <li><a href="{% url 'admin-login' %}">Site Administration</a></li>
                  <li><a href="#">Help</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#team">Our Team</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#faq">FAQs</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="#contact">Get Started</a>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
<section id="hero" class="hero section dark-background">
  <!--<img src="assets/img/bg4.jpg" alt="" data-aos="fade-in">-->
  <img src="{% static 'img/bg4.jpg' %}" alt="" data-aos="fade-in">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
       <!-- <h2 data-aos="fade-up" data-aos-delay="100">Connecting You to Quality Veterinary Care</h2>
        <p data-aos="fade-up" data-aos-delay="200">
          <strong>Pesa Mashinani</strong> is an innovative platform dedicated to bridging the gap between certified veterinarians and those in need of reliable veterinary care. Whether you're a farmer, pet owner, or agrovet shop owner, we provide seamless access to expert veterinary services, essential products, and valuable resources to ensure the health and well-being of your animals.
        </p>-->
      </div>
    </div>
  </div>
</section>
<!-- /Hero Section -->


   <!-- Services Section -->
<section id="services" class="services section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Our Services</h2>
    <p>We offer a range of financial services designed to enhance loan accessibility and improve financial security for borrowers and lenders in the community:</p>
  </div><!-- End Section Title -->
  

  <div class="container">
    <div class="row gy-4">
  
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0"><i class="bi bi-person-check"></i></div>
          <div>
            <h4 class="title">Loan Consultation</h4>
            <p class="description">Connect with financial advisors to understand loan options and secure funding tailored to your needs.</p>
          </div>
        </div>
      </div>
      <!-- End Service Item -->
  
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0"><i class="bi bi-credit-card"></i></div>
          <div>
            <h4 class="title">Loan Marketplace</h4>
            <p class="description">Access a variety of loan products from local lenders, ensuring competitive rates and terms.</p>
          </div>
        </div>
      </div>
      <!-- End Service Item -->
  
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0"><i class="bi bi-book"></i></div>
          <div>
            <h4 class="title">Financial Literacy Resources</h4>
            <p class="description">Explore articles, webinars, and guides on managing finances, understanding loans, and improving financial literacy.</p>
          </div>
        </div>
      </div>
      <!-- End Service Item -->
  
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0"><i class="bi bi-chat-dots"></i></div>
          <div>
            <h4 class="title">Community Support Forum</h4>
            <p class="description">Engage with fellow borrowers, lenders, and financial experts to share experiences and gain insights on effective loan management.</p>
          </div>
        </div>
      </div>
      <!-- End Service Item -->
  
    </div>
  </div>
  

    </div>

  </div>

</section><!-- /Services Section -->


<!-- Team Section -->
<section id="team" class="team section light-background">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Our Team</h2>
    <p>Meet the dedicated individuals behind our success...</p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-5">

      <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
        <div class="member-img">
          <!--<img src="assets/img/team/bornface.jpg" class="img-fluid" alt="Josphine Otieno">-->
          <img src="{% static 'img/team/bornface.jpg' %}" class="img-fluid" alt="Bornface Sonye">
          <div class="social">
            <a href="https://wa.me/254798073204?text=Hello%2C%20I%27m%20interested%20in%20your%20services" target="_blank" rel="noopener noreferrer"><i class="bi bi-whatsapp"></i></a>
            <a href="https://www.facebook.com/BornfaceSonye" target="_blank" rel="noopener noreferrer"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>Bornface Sonye</h4>
          <span>Chief Executive Officer</span>
          <p>Founder</p>
          <p>Leads the strategic direction and overall operations of the company, ensuring alignment with our mission and vision.</p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
        <div class="member-img">
            <img src="{% static 'img/team/kasuku.jpg' %}" class="img-fluid" alt="Michael Otieno Kasuku">
          <div class="social">
            <a href="https://wa.me/254798073204?text=Hello%2C%20I%27m%20interested%20in%20your%20services" target="_blank" rel="noopener noreferrer"><i class="bi bi-whatsapp"></i></a>
            <a href="https://www.facebook.com/MichaelOtienoKasuku" target="_blank" rel="noopener noreferrer"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>Michael Otieno Kasuku</h4>
          <span>Project Manager</span>
          <p>Co-Founder</p>
          <p>Oversees project development and execution, ensuring timelines and quality standards are met while facilitating team collaboration.</p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">
        <div class="member-img">
            <img src="{% static 'img/team/kasuku.jpg' %}" class="img-fluid" alt="Gordon Aloo">
          <div class="social">
            <a href="https://wa.me/254798073204?text=Hello%2C%20I%27m%20interested%20in%20your%20services" target="_blank" rel="noopener noreferrer"><i class="bi bi-whatsapp"></i></a>
            <a href=href="https://www.facebook.com/GordonAloo" target="_blank" rel="noopener noreferrer"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>Gordon Aloo</h4>
          <span>Chief Technology Officer</span>
          <p>Co-Founder</p>
          <p>Responsible for overseeing the development and implementation of technology strategies that align with our business goals.</p>
        </div>
      </div><!-- End Team Member -->

    </div>
  </div>

</section><!-- /Team Section -->

<!-- About Section -->
<section id="about" class="about section light-background">

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row align-items-xl-center gy-5">

      <div class="col-xl-5 content">
        <h3>About Us</h3>
        <p class="lead mb-4" style="font-size: 1.25rem; line-height: 1.8; text-align: justify;">
          <strong>Pesa Mashinani</strong> is an innovative platform dedicated to connecting borrowers with reliable financial institutions and lenders, ensuring that farmers, entrepreneurs, and individuals have access to the funding they need.
        </p>
        <p class="lead mb-4" style="font-size: 1.25rem; line-height: 1.8; text-align: justify;">
          Our <strong>mission</strong> is to enhance financial inclusion across Kenya, empowering communities through accessible loan options and financial education to support sustainable development.
        </p>
        <p class="lead mb-4" style="font-size: 1.25rem; line-height: 1.8; text-align: justify;">
          Through our user-friendly web platform, Pesa Mashinani ensures that anyone, anywhere can access essential financial services and connect with lenders efficiently.
        </p>
        <p class="lead mb-4" style="font-size: 1.25rem; line-height: 1.8; text-align: justify;">
          Our <strong>goal</strong> is to significantly improve the financial health of our users by providing transparent and trustworthy loan options, fostering community growth, and reducing the reliance on informal lending practices.
        </p>
      </div>

      <div class="col-xl-7">
        <div class="row gy-4 icon-boxes">

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <i class="bi bi-person-check"></i>
              <p>Find and connect with verified lenders to explore tailored loan options that suit your needs.</p>
            </div>
          </div> <!-- End Icon Box -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <i class="bi bi-credit-card"></i>
              <p>Access a marketplace of diverse financial products, ensuring competitive rates and favorable terms.</p>
            </div>
          </div> <!-- End Icon Box -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box">
              <i class="bi bi-chat-dots"></i>
              <p>Engage in a community forum to share experiences, gain insights, and receive expert financial advice.</p>
            </div>
          </div> <!-- End Icon Box -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <i class="bi bi-bell"></i>
              <p>Stay informed about financial literacy programs and workshops aimed at enhancing your financial management skills.</p>
            </div>
          </div> <!-- End Icon Box -->

        </div>
      </div>

    </div>
  </div>

</section><!-- /About Section -->


<!-- Faq Section -->
<section id="faq" class="faq section">

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="content px-xl-5">
          <h3>Frequently Asked Questions (FAQs)</h3>
          <p>
            Discover answers to common queries regarding our platform, loan services, and policies.
          </p>
        </div>
      </div>

      <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

        <div class="faq-container">
          <div class="faq-item">
            <h3>
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="true" aria-controls="faq1">
                <span class="num">1.</span> <span>How do I apply for a loan through Pesa Mashinani?</span>
              </button>
            </h3>
            <div id="faq1" class="collapse">
              <div class="faq-content">
                <p><strong>Applying for a loan is simple!</strong> Just log in to your <strong>Pesa Mashinani</strong> account, navigate to the loan application section, fill in the required details, and submit your application. You will receive a notification regarding the status of your application shortly.</p>
              </div>
            </div>
          </div><!-- End Faq item-->

          <div class="faq-item">
            <h3>
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#faq2" aria-expanded="false" aria-controls="faq2">
                <span class="num">2.</span> <span>Can I check the status of my loan application?</span>
              </button>
            </h3>
            <div id="faq2" class="collapse">
              <div class="faq-content">
                <p>Yes, you can check the status of your loan application anytime through your account dashboard. Just log in and go to "My Loans" to view all the details.</p>
              </div>
            </div>
          </div><!-- End Faq item-->

          <div class="faq-item">
            <h3>
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#faq3" aria-expanded="false" aria-controls="faq3">
                <span class="num">3.</span> <span>What should I do if I have trouble repaying my loan?</span>
              </button>
            </h3>
            <div id="faq3" class="collapse">
              <div class="faq-content">
                <p>If you encounter difficulties with repayment, please contact our support team immediately at <strong>support@pesamashinani.com</strong>. We can discuss options for restructuring your repayment plan.</p>
              </div>
            </div>
          </div><!-- End Faq item-->

          <div class="faq-item">
            <h3>
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#faq4" aria-expanded="false" aria-controls="faq4">
                <span class="num">4.</span> <span>How can I update my personal information?</span>
              </button>
            </h3>
            <div id="faq4" class="collapse">
              <div class="faq-content">
                <p>You can update your personal information through your account settings. Just log in, navigate to "Profile Settings," make the necessary changes, and save the updates.</p>
              </div>
            </div>
          </div><!-- End Faq item-->
        </div>
      </div>
    </div>
  </div>
</section><!-- /Faq Section -->



    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact Us</h2>
        <p>We’d love to hear from you!</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="200">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Location</h3>
                  <p>Mega Plaza, Second Floor</p>
                  <p>Oginga Odinga Street, Kisumu City</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="300">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>0712345678</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="400">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>pesamashinaniservices@gmail.com</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="500">
                  <i class="bi bi-clock"></i>
                  <h3>Open Hours</h3>
                  <p>Monday - Friday</p>
                  <p>9:00AM - 05:00PM</p>
                </div>
              </div><!-- End Info Item -->

            </div>

          </div>

          <div class="col-lg-6">
            <form method="post" action="{% url 'home' %}" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                {% csrf_token %}
              <div class="row gy-4">

                <div class="col-md-6">
                 <!-- <input type="text" name="form.full_name" class="form-control" placeholder="Enter your name" required=true autocomplete=true>-->
                  {{ form.full_name }}
                  {{ form.full_name.errors }}
                </div>

                <div class="col-md-6 ">
                  <!--<input type="email" class="form-control" name="form.email_address" placeholder="Enter your email" required=true autocomplete=true>-->
                  {{ form.email_address }}
                  {{ form.email_address.errors }}
                </div>

                <div class="col-12">
                  <!--<input type="text" class="form-control" name="form.subject" placeholder="Enter subject" required=true>-->
                  {{ form.subject }}
                  {{ form.subject.errors }}
                </div>

                <div class="col-12">
                 <!-- <textarea class="form-control" name="form.message" rows="6" placeholder="Enter your message" required=true></textarea>-->
                  {{ form.message }}
                  {{ form.message.errors }}
                </div>

                <div class="col-12 text-center">
                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer position-relative light-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">Pesa Mashinani</span>
          </a>
          <p>Connect with us via social media:</p>
          <div class="social-links d-flex mt-4">
            <a href="https://www.twitter.com"><i class="bi bi-twitter-x"></i></a>
            <a href="https://www.facebook.com"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#hero">Home</a></li>
            <li><a href="#about">About us</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
  <h4>Our Services</h4>
  <ul>
    <li><a href="#">Loan Applications</a></li>
    <li><a href="#">Loan Repayment Plans</a></li>
    <li><a href="#">Financial Literacy Resources</a></li>
    <li><a href="#">Community Support</a></li>
  </ul>
</div>


        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>Mega Plaza, Second Floor</p>
          <p>Oginga Odinga Street, Kisumu City</p>
          <p class="mt-4"><strong>Phone:</strong> <span>0798073204</span></p>
          <p><strong>Email:</strong> <span>pesamashinaniservices@gmail.com</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>2024</span> <strong class="sitename">Pesa Mashinani</strong></p>
      <div class="credits">
        <span>All Rights Reserved!</span>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <!--<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/main.js"></script>-->

  <!-- Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
  <!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>

<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'css/bootstrap.min.js' %}"></script>


</body>

</html>